/*GENERAL STYLE*/

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #e3f2fd;
  margin: 0;
  padding: 12;
  color: #212121;  
}

.page {
  max-width: 25rem;
  margin: 5% auto;
  background: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(30,136,229,0.15);
}

.book-page {
  max-width: 62.5rem;
}

.add-book-page {
  max-width: 18.75rem;
}

.user-page {
  max-width: 87.5rem;
}

.loan-page {
  max-width: 120.5rem;
}

.stats-page {
  max-width: 120.5rem;
}

h1 {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.4;
}

p {
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #444;
  text-align: center;
}

/*FORM STYLE*/
form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
  font-size: 1rem;
  box-sizing: border-box;
  display: block;
  gap: '1rem';
}

input:focus {
  border-color: #007bff;
  outline: none;
}

select {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

select:focus {
  border-color: #007bff;
  outline: none;
}

.log-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}


.general-button {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.general-button:hover {
  background-color: #1565c0;
  transform: translateY(-1px);
}

.logout-button {
  background-color: red;
}

.return-button {
  background-color: rgb(231, 160, 26);
}


.back-button:active {
  background-color: #00408f;
  transform: translateY(0);
}

.drop-down-list {
  background: #fff;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  margin-top: 0.25rem;
  width: 100%;
  z-index: 1000;
  list-style: none;
  padding: 0;
  cursor: pointer;
  position: relative;
}

/*TABLES STYLE*/

.general-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
  font-size: 0.95rem;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
}

.general-table thead {
  background-color: #2b71f1;
  color: #fff;
}

.general-table th,
.general-table td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.general-table th {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.general-table tr:hover td {
  background-color: #f1f5f9;
  cursor: pointer;
}

/*SECYFIC LoanPage STYLE*/

.user-book-selection-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 1rem;
  align-items: flex-start;
}

/* bierze wszystkie bezpośrednie elementy potomne <div>*/
.user-book-selection-container > div {
  flex: 1 1 45%;
  min-width: 300px;
}






